h1 {
  margin: 0;
}

#roof {
  background-color: violet;
  height: 300px;
  width: 1040px;
  border-radius: 5px;
  margin: auto;
}

#mainBody {
  background-color: tan;
  height: 500px;
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#michaelTrainer {
  background-color: red;
  height: 400px;
  width: 400px;
}

#isaacTrainer {
  background-color: blue;
  height: 400px;
  width: 400px;
}
