h1 {
  margin-top: 0;
  font-family: pokemon-font;
  font-size: 20px;

}

h2 {
  font-size: 50px;
  font-family: pokemon-font;
  text-decoration: underline;
}
#roof {
  text-align: center;
  background-color: violet;
  height: 300px;
  width: 1040px;
  border-radius: 5px;
  margin: auto;
}

#mainBody {
  background-color: tan;
  height: 500px;
  width: 1000px;
  margin: auto;
display: flex;
  justify-content: space-around;
  text-align: center;
}

#michaelTrainer {
  background-color: honeydew;
  height: 400px;
  width: 400px;
  border-radius: 10px;
}

#isaacTrainer {
  background-color: honeydew;
  height: 400px;
  width: 400px;
  border-radius: 10px;
}

.poke-button {
    margin-top: 5px;
    height: 50px;
    width: 50px;
    background-color: yellow;
    display: inline-block;
    box-shadow: 1px 2px orange;
    position: absolute;
}

.poke-button:active {
  box-shadow: 0px 0px orange;
  margin-top: 7px;
}
.on-button {
    margin-top: 5px;
    height: 45px;
    width: 50px;
    background-color: blue;
    display: inline-block;
    box-shadow: 1px 2px black;
    position: absolute;
    color: white;
}

.on-button:active {
  margin-top: 7px;
  box-shadow: 0 0 inset;
}

#isaac-left {
  margin-left: -150px;
}

#isaac-right {
  margin-left: 150px;
}

#michael-left {
  margin-left: -150px;
}

#michael-right {
  margin-left: 150px;
}

h3 {
  text-transform: uppercase;
}
